ol{
    background-color: yellow;
}

ol li:nth-child(even){
    color: green;
}

ol li:nth-child(odd){
    text-transform: uppercase;
}

h1, h3 {
    color: red;
    font-size: 40px;
    border: 1px solid black;
}

li, li em {
    font-size: 20px;
}

li em {
    font-weight: 900;
}

li.azul:nth-child(-n +3) {
    color: blue;
}

.java {
    background-color: pink;
}

.dev:hover {
    font-weight: 900;
}

a.overflow:hover {
    color: orange;
}

.w3s:hover {
    color: green;
}

.mdn:hover {
    color: black;
}

.doc:hover {
    color: yellow;
}

.trybe:hover {
    color: green;
}