h1, p{
    text-align: center;
}

li:hover{
    background-color: chocolate;
}

li:active{
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul, ol{
    list-style: none;
}