html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@media screen and (max-width: 420px) {
    * {
        background-color: rgb(247, 247, 247);
        color: rgb(41, 41, 41);
        ;
    }

    header {
        display: flex;
        flex-direction: column;
        background-color: rgb(216, 216, 216);
    }

    header p {
        align-self: center;
        text-align: center;
        font-size: 27px;
        background-color: rgb(216, 216, 216);
        font-weight: 800;
    }

    header nav, header nav ul, header nav ul li {
        background-color: rgb(230, 228, 228);
        font-size: 20px;
    }

    header nav ul li:hover {
        background-color: rgb(216, 216, 216);
        font-size: 22px;
    }

    .aside-one {
        display: flex;
        flex-direction: column;
    }

    .aside-one h2 {
        margin-left: 5%;
    }

    .aside-one ul {
        font-size: 20px;
    }

    .aside-one ul li:hover {
        background-color: rgb(216, 216, 216);
        font-size: 22px;
    }

    .aside-two {
        display: flex;
        flex-direction: column;
    }

    .aside-two h2 {
        margin-left: 5%;
    }

    .aside-two ul {
        font-size: 20px;
    }

    .aside-two ul li:hover {
        background-color: rgb(216, 216, 216);
        font-size: 22px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
    }

    .main-content h1 {
        text-align: center;
    }

    .main-content p {
        margin: 5px 3%;
        font-size: 20px;
    }

    footer {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    footer h3 {
        align-self: center;
        font-size: 27px;
        margin: 0;
        margin-top: 15px;
        color: rgb(121, 95, 31);
    }

    footer p {
        text-align: center;
        font-size: 20px;
        color: rgb(121, 95, 31);
    }
}

@media screen and (min-width: 421px) and (max-width: 840px) {
    * {
        background-color: rgb(247, 247, 247);
        color: rgb(41, 41, 41);
        ;
    }

    header {
        display: flex;
        flex-direction: column;
        background-color: rgb(216, 216, 216);
    }

    header p {
        align-self: center;
        text-align: center;
        margin-left: 2%;
        font-size: 30px;
        background-color: rgb(216, 216, 216);
        font-weight: 800;
    }

    header nav ul li {
        align-self: center;
        text-align: center;
        margin: 0 auto;
    }

    header nav, header nav ul, header nav ul li {
        color: rgb(41, 41, 41);
        background-color: rgb(230, 228, 228);
        font-size: 22px;
        list-style: none;
    }

    header nav ul li:hover {
        color: black;
    }

    .asides {
        display: flex;
        align-items: center;
    }

    .aside-one h2 {
        font-size: 30px;
        margin-left: 5%;
    }

    .aside-one ul {
        font-size: 22px;
    }

    .aside-one ul li:hover {
        color: black;
    }

    .aside-two {
        max-width: 50%;
    }

    .aside-two h2 {
        font-size: 30px;
        margin-left: 5%;
    }

    .aside-two ul {
        font-size: 20px;
    }

    .aside-two ul li:hover {
        color: black;
    }

    .main-content {
        display: flex;
        flex-direction: column;
    }

    .main-content h1 {
        text-align: center;
        font-size: 40px;
    }

    .main-content p {
        margin: 5px 3%;
        font-size: 20px;
    }

    footer {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    footer h3 {
        align-self: center;
        font-size: 30px;
        margin: 0;
        margin-top: 15px;
        color: rgb(121, 95, 31);
    }

    footer p {
        text-align: center;
        font-size: 20px;
        color: rgb(121, 95, 31);
    }
}