/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 22px;
    margin: 15px;
}

article {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin: 0 auto;
    margin: 50px 0;
    margin-bottom: 35px;
}

img {
    max-width: 100%;
}

main {}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

figure {
    margin: 0;
    margin-bottom: 25px;
}

figcaption {
    font-size: .8em;
}

@media screen and (min-width: 501px) {
    body {
        background-color: darkcyan;
    }

    article {
        margin: 0 15px;
        font-size: 25px;
    }

    h1 {
        font-size: 36px;
    }

    section figure img {
        max-width: 260px;
    }

    main {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        margin: 0;
    }

    section {
        flex-flow: wrap;
        column-gap: 150px;
    }

    figcaption {
        font-size: 25px;
    }

    figure {
        margin-bottom: 32px;
    }

}

@media screen and (min-width: 501px) and (max-width: 700px) {
    section {
        column-gap: 0;
        flex-flow: column nowrap;
    }

    section div figure img {
        max-width: 350px;
    }
}

@media screen and (min-width: 1300px) {
    body {
        background-color:lightslategrey;
    }
    
    h1 {
        max-width: fit-content;
        font-size: 50px;
    }

    article {
        text-align: center;
        max-width: fit-content;
        font-size: 28px;
        margin: 0 18px;
    }

    h2 {
        max-width: 100%;
        font-size: 50px;
        margin-bottom: 60px;
    }

    section {
        column-gap: 290px;
    }

    section div figure img {
        max-width: 350px;
    }

}