.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-height: 600px;
    border: 1px solid red;
    max-width: 65%;
    margin: 0 auto;
    overflow-y: scroll;
}
